
/* ==============introSection=================== */

.start-page-container{
  /* border: solid 5px greenyellow; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  ". intro intro intro ."
  ". body body body ."
  ". body2 body2 body2 ."
  ;
}

.intro-section{
  /* border: solid 5px black; */
  margin-top: 3em;
  grid-area: intro;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  " sec1 sec1 img ";
}

.intro-content{
  /* border: solid 5px red; */
  grid-area: sec1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "textg textg textg "
  "btngroup btngroup . "  
  ;
}

.intro-text-group{
  grid-area: textg;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "title title title "                        
                        "text text text"
  ;
}

.intro-h{ 
  grid-area: title ;
}
.intro-p{
  margin: 1em;
  grid-area: text ;
  font-size: 1.3em;
}

.intro-btn{  
  grid-area: btngroup;
  /* border: solid 5px slateblue; */
  
}
.signin {
  margin: 1em;
}
.signup{
  margin: 1em;
}
.img1{
  /* border: solid 5px slateblue; */
  grid-area: img;
  height: 20em;
  width: 30em;  
}

/* ==============team-section=================== */
.team-section{
  /* border: solid 5px slateblue; */
  margin-top: 3em;
  grid-area: body;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  ". e e"
  "tr r r"
  ; 
}
.team-text-group{
  /* border: solid 5px blue; */
  grid-area: r; 
  
}
.team-btn{
  margin-top: 3em;
  margin-left: 35em;
}
.img2{
  /* border: solid 5px red; */
  grid-area: tr;
  height: 20em;
  width: 25em;
}
h2{
  grid-area: e;
}

/* ==============func-section=================== */

.func-section{
  /* border: solid 5px blue; */
  margin-top: 3em;
  grid-area: body2;
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  " func-text func-text func-img "; 
}

.func-content{
  
  grid-area: func-text;  
}
.func-btn{
  margin-top: 3em;
  margin-left: 1em;
}

.img3{
  /* border: solid 5px green; */
  grid-area: func-img;
  height: 20em;
  width: 35em;
  
}

@media screen and (max-width: 1890px) {
  .team-btn{
    margin-left: 25em;
  }
}


@media screen and (max-width: 376px) {
  
  .start-page-container{
    /* border: solid 5px greenyellow; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "intro intro intro intro intro"
    "body body body body body"
    ". body2 body2 body2 ."
    ;
  }

  .intro-section{
      border: solid 5px greenyellow;
    margin-top: 3em;
    grid-area: intro;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-template-areas: 
    "sec1 sec1 sec1"
    "img img img "
    ;
  } 

  .team-section{
    margin-top: 3em;
    grid-area: body;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "e e e"
    "r r r"
    "tr tr tr"
    ; 
  }
  
  
}